@font-face { font-family: 'Inter'; src: url(/inter.400.woff2); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: 'Inter'; src: url(/inter.600.woff2); font-weight: 600; font-style: normal; font-stretch: normal; }


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#app > * {
    overflow-y: auto;
    flex: 1;
}

#app.preview > #input {
    display: none;
}

#app.preview > #preview-wrapper > #preview {
    max-width: 720px;
    margin: 0 auto;
}

#input {
    font-family: monospace;
    outline: none;
    border: none;
    padding: 20px;
    resize: none;
    border-right: 1px solid #ddd;
}

#preview {
    overflow-x: hidden; 
    font-size: 15px;
    padding: 20px;
    height: auto;
}

#notification {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px;
    background-color: red;
    color: white;
    z-index: 9999;
    font-family: monospace;
    font-size: 13.3333px;
    display: none;
}

#preview li { margin-left: 20px; }
#preview code { font-family: monospace; }
#preview p code, #preview li code { background-color: #f5f5f5; white-space: pre-wrap; padding: 3px 5px; font-size: 13px; }
#preview pre { background-color: #f5f5f5; padding: 5px; margin: 0.5em 0 1em; overflow-x: auto; word-wrap: normal; font-size: 13px; }
#preview blockquote { background-color: #defcff; padding: 10px; margin: 0.5em 0 1em; overflow-x: auto; word-wrap: normal; border-left: 2px solid #0ae2f5; }
#preview blockquote p { margin: 0; }
#preview hr { background-color: #ddd; color: #ddd; height: 1px; margin-bottom: 15px; margin-top: 15px; }
#preview h1 { margin-bottom: 0.5em; font-size: 1.4em; }
#preview h2 { margin-bottom: 0.5em; font-size: 1.2em; }
#preview h3 { margin-bottom: 0.5em; font-size: 1em; }
#preview p { margin-bottom: 1em; line-height: 1.25; }
#preview ul { margin-bottom: 1.5em; line-height: 1.25; }
#preview img { max-width: 100%; max-height: 100%; }
#preview table { display: block; width: 100%; overflow: auto; border-collapse: collapse; margin-bottom: 0.5em; }
#preview table th { font-weight: bold; }
#preview table th, #preview table td { padding: 6px 13px; border: 1px solid #ddd; }
#preview table tr { background-color: #fff; border-top: 1px solid #ccc; }
#preview table tr:nth-child(2n) { background-color: #f8f8f8; }
#preview a { text-decoration: none; color: #07c; }
#preview .pagebreak { border-bottom: 1px dashed #eee; padding-top: 20px; margin-bottom: 30px; }

.dark-mode { background-color: #212121; } 
.dark-mode #input, .dark-mode #preview  {  color: #FAFAFA; background-color: #212121; border-color: #757575;}
.dark-mode #preview a, .dark-mode #help a, .dark-mode .prompt-dialog a { color: #90CAF9; }
.dark-mode #preview p code, .dark-mode #preview li code, .dark-mode #preview pre { background-color: #424242; }
.dark-mode #preview table th, .dark-mode #preview table td { border-color: #757575; }
.dark-mode #preview table tr { background-color: #424242; border-color: #757575; }
.dark-mode #preview blockquote { background-color: #00796B; border-color: #004D40; }